@model PauloRodrigues.LojaVirtual.Dominio.Entidades.Carrinho

<div class="navbar-right">
    @Html.ActionLink("Checkout", "Index", "Carrinho", new {returnUrl = Request.Url.PathAndQuery}, new {@class = "btn btn-sm btn-default navbar-btn"})
</div>

<div class="navbar-text navbar-right">
    <b>Carrinho:</b>
    @Model.ItensCarrinhos.Sum(x => x.Quantidade) Item(s), @Model.ObterValorTotal().ToString("c")
</div>